ENVIRONMENT=development
PORT=8080
MODE=debug

DATABASE_URL=postgres://user:password@localhost:5432/sona

REDIS_URL=redis://localhost:6379
REDIS_KEY_PREFIX=dev

CLERK_SECRET_KEY=sk_test_xxxxxxxxx

SPEECH_SERVICE_URL=http://localhost:7860
INTERNAL_SECRET=your-internal-secret #match with internal secret at api for internal requests

# Optional
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=