DATABASE_URL=
ENVIRONMENT=development
CLERK_SECRET_KEY=
SPEECH_SERVICE_URL=http://localhost:7860
FE_URL=http://localhost:3000
MODE=debug
REDIS_URL=
REDIS_KEY_PREFIX=dev
INTERNAL_SECRET=your-internal-secret  #for speech -> api request

//optional
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=

//optional if speech deployed to modal
MODAL_TOKEN_KEY=
MODAL_TOKEN_SECRET=
