DATABASE_URL=
ENVIRONMENT=development
CLERK_SECRET_KEY=
SPEECH_SERVICE_URL=http://localhost:7860
FE_URL=http://localhost:3000
MODE=debug
REDIS_URL=
REDIS_KEY_PREFIX=dev

//optional
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=